mixin artistCard(artist)
    .thumbnail.list-card.artist-card
        .card-cover
            a(href='/artist/' + artist.slug)
                .card-cover-bg(style="background-image: url('" + artist.pictureUrl + "');")
                img(alt='artist_picture', src=artist.pictureUrl)
        .caption
            p.card-title
                a(href='/artist/' + artist.slug) #{artist.name}
            hr
            .artist-labels
                if artist.type === 'dj'
                    span.label.label-warning #{__("label.dj")}
                else
                    span.label.label-success #{__("label.artist")}
            p(style='font-size:10px')
                i.fa.fa-calendar(aria-hidden='true')
                |  #{__('artistList.caption.active')} #{moment(artist.lastOfficialActivityAt).fromNow()}
            if artist.officialMixtapesCount > 0
                p(style='font-size:10px')
                    i.fa.fa-floppy-o(aria-hidden='true')
                    |  #{artist.officialMixtapesCount}&nbsp;
                    if artist.officialMixtapesCount > 1
                        | #{__('artistList.caption.mixtapes')}
                    else
                        | #{__('artistList.caption.mixtape')}
            if artist.officialTracksCount > 0
                p(style='font-size:10px')
                    i.fa.fa-music(aria-hidden='true')
                    |  #{artist.officialTracksCount}&nbsp;
                    if artist.officialTracksCount > 1
                        | #{__('artistList.caption.tracks')}
                    else
                        | #{__('artistList.caption.track')}