mixin beatmakerCard(beatmaker)
    .thumbnail.list-card.artist-card
        .card-cover
            a(href='/beatmaker/' + beatmaker.slug)
                .card-cover-bg(style="background-image: url('" + beatmaker.pictureUrl + "');")
                img(alt='beatmaker_picture', src=beatmaker.pictureUrl)
        .caption
            p.card-title
                a(href='/beatmaker/' + beatmaker.slug) #{beatmaker.name}
            hr
            .artist-labels
                span.label.label-danger #{__("label.beatmaker")}
            p(style='font-size:10px')
                i.fa.fa-calendar(aria-hidden='true')
                |  #{__('artistList.caption.active')} #{moment(beatmaker.lastOfficialActivityAt).fromNow()}
            if beatmaker.officialMixtapesCount > 0
                p(style='font-size:10px')
                    i.fa.fa-floppy-o(aria-hidden='true')
                    |  #{beatmaker.officialMixtapesCount}&nbsp;
                    if beatmaker.officialMixtapesCount > 1
                        | #{__('artistList.caption.mixtapes')}
                    else
                        | #{__('artistList.caption.mixtape')}
            if beatmaker.officialTracksCount > 0
                p(style='font-size:10px')
                    i.fa.fa-music(aria-hidden='true')
                    |  #{beatmaker.officialTracksCount}&nbsp;
                    if beatmaker.officialTracksCount > 1
                        | #{__('artistList.caption.tracks')}
                    else
                        | #{__('artistList.caption.track')}