.row.setup-content(data-step=2, style='display:none;')
    .col-xs-12
        .col-md-12
            h3  #{__('accountPage.uploadWizard.steps.artists.title')}
            form#artists(role='form')
                .form-group.artist-select-container
                    label.control-label #{__('accountPage.uploadWizard.steps.artists.artistsField')}
                    select#mixtapeArtists.form-control.artist-picker(data-url='/artists/all-types', multiple='', required='')
                .form-group
                    label.control-label #{__('accountPage.uploadWizard.steps.artists.isOfficialField')}
                    select#mixtapeIsOfficial.form-control.selectpicker(required='')
                        option(value='false') #{__('accountPage.uploadWizard.steps.artists.isOfficialFieldNo')}
                        option(value='true') #{__('accountPage.uploadWizard.steps.artists.isOfficialFieldYes')}
                .wizard-pagination
                    button.btn.btn-primary.previous-button.pull-left(type='button') #{__('accountPage.uploadWizard.beforeButton')}
                    button.btn.btn-primary.next-button.pull-right(type='submit') #{__('accountPage.uploadWizard.nextButton')}