.row.setup-content(data-step=1)
    .col-xs-12
        .col-md-12
            h3  #{__('accountPage.uploadWizard.steps.details.title')}
            form#details(role='form')
                .form-group
                    label.control-label #{__('accountPage.uploadWizard.steps.details.titleField')}
                    input#mixtapeTitleField.form-control(type='text', placeholder=__('accountPage.uploadWizard.steps.details.titleFieldPlaceholder'), required='')
                .form-group
                    label.control-label #{__('accountPage.uploadWizard.steps.details.coverUrlField')} (.jpg, .png)
                    input#mixtapeCover.form-control(name='cover', type='file', required='')
                .form-group
                    label.control-label #{__('accountPage.uploadWizard.steps.details.musicGenresField')}
                    select#mixtapeMusicGenres.form-control.selectpicker(data-icon-base='fa', data-tick-icon='fa-check', multiple='', required='')
                        each musicGenre in musicGenres
                            option(value=musicGenre.id) #{musicGenre.name}
                .form-group
                    label.control-label #{__('accountPage.uploadWizard.steps.details.releaseDateField')}
                    input#mixtapeReleaseDate.form-control.date-picker(type='text', placeholder=__('accountPage.uploadWizard.steps.details.releaseDateFieldPlaceholder'), value=moment().format('L'), required='')
                .wizard-pagination
                    button.btn.btn-primary.next-button.pull-right(type='submit') #{__('accountPage.uploadWizard.nextButton')}