extends layouts/default

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  #{__('accountPage.title')}
                            small #{__('accountPage.titleDescription')}
                    .col-xs-12.col-md-3.account-column.account-sidebar-column
                        include layouts/accountSidebar
                    .col-xs-12.col-md-9.account-column.account-content-column
                        .container.content-container
                            .row
                                .page-header.section-title
                                    h3
                                        span.fulltape.fulltape-icon
                                        | Tous les artistes
                            .row
                                .col-xs-6.text-left
                                    button#PreviousArtists.btn.btn-default(type='button') Précédent
                                .col-xs-6.text-right
                                    button#NextArtists.btn.btn-default(type='button') Suivant
                            .row
                                table#allArtists.table.table-striped
                                    thead
                                        tr
                                            th Image
                                            th(data-sort-key='name') Nom
                                            th(data-sort-key='type') Type
                                            th(data-sort-key='lastOfficialActivityAt') Activité Off.
                                            th(data-sort-key='officialMixtapesCount') Mixtapes Off.
                                            th(data-sort-key='officialTracksCount') Titres Off.
                                            th Groupes
                                            th Admin. par
                                            th(data-sort-key='createdAt') Créé le
                                            th(width='100px') Actions