extends layouts/default
include layouts/mixtapeCard

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  #{__('accountPage.title')}
                            small #{__('accountPage.titleDescription')}
                    .col-xs-12.col-md-3.account-column.account-sidebar-column
                        include layouts/accountSidebar
                    .col-xs-12.col-md-9.account-column.account-content-column
                        .container.content-container
                            .row
                                .page-header.section-title
                                    h3
                                        span.fulltape.fulltape-icon
                                        |  #{__('accountPage.latestActivities.latestBookmarked')}
                            .row
                                .jumbotron
                                    .row.card-list-container
                                        each mixtape in latestBookmarked
                                            .col-sm-2.col-xs-4
                                                +mixtapeCard(mixtape)
                                        if latestBookmarked.length == 0
                                            span.no-result #{__('mixtapeList.noMixtapes')}
                            if req.user.isUploader
                                .row
                                    .page-header.section-title
                                        h3
                                            span.fulltape.fulltape-icon
                                            |  #{__('accountPage.latestActivities.latestUploaded')}
                                .row
                                    .jumbotron
                                        .row.card-list-container
                                            each mixtape in latestUploaded
                                                .col-sm-2.col-xs-4
                                                    +mixtapeCard(mixtape)
                                            if latestUploaded.length == 0
                                                span.no-result #{__('mixtapeList.noMixtapes')}