extends layouts/default

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  #{__('accountActivationPage.title')}
                    .row.text-center
                        if activationStatus === "success"
                            br
                            h5 #{__('accountActivationPage.successMessage')}
                            br
                            a(href='/login')
                                h4 #{__('accountActivationPage.loginMessage')}
                        else
                            br
                            h5 #{__('accountActivationPage.failMessage')} #{activationId}.