extends layouts/default
include layouts/mixtapeCard

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12.col-sm-10
                .content-container
                    .artist-infos
                        .artist-infos-background(style="background: url('" + artist.coverUrl + "');background-size: cover;")
                        .col-sm-3.artist-cover-container
                            img(src=artist.pictureUrl)
                        .col-sm-9.artist-infos-container
                            h3.artist-title #{artist.name}
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  #{__('artistPage.mixtapeListTitle')}
                    .jumbotron
                        .row.card-list-container
                            each mixtape in ownMixtapes
                                .col-sm-2.col-xs-4
                                    +mixtapeCard(mixtape)
                            if ownMixtapes.length == 0
                                span.no-result #{__('mixtapeList.noMixtapes')}
                    if featuringMixtapes.length > 0
                        .page-header.section-title
                            h1
                                span.fulltape.fulltape-icon
                                if section === 'beatmaker'
                                    |  Produced Mixtapes
                                else
                                    | Featuring Mixtapes
                        .jumbotron
                            .row.card-list-container
                                each mixtape in featuringMixtapes
                                    .col-sm-2.col-xs-4
                                        +mixtapeCard(mixtape)
            include layouts/sidebar