extends layouts/default
include layouts/beatmakerCard

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12.col-sm-10
                .container.content-container
                    .row
                        .page-header.section-title
                            h1
                                span.fulltape.fulltape-icon
                                |  #{__("beatmakersPage.title")}
                                small #{__("beatmakersPage.titleDescription")}
                    .row
                        .jumbotron
                            .row.card-list-container
                                each beatmaker in data.results
                                    .col-sm-2.col-xs-4
                                        +beatmakerCard(beatmaker)
                            nav.text-center(aria-label='Page navigation')
                                ul.pagination
                                    li(class=(data.previous === false ? 'disabled' : null))
                                        a(aria-label='Previous', data-page=parseInt(data.currentPage) - 1)
                                            span(aria-hidden='true') «
                                    - var i = 1
                                    while i < data.totalPages + 1
                                        li(class=(parseInt(data.currentPage) === i ? 'active' : null))
                                            a(data-page=i) #{i}
                                        - i++;
                                    li(class=(data.next === false ? 'disabled' : null))
                                        a(aria-label='Next', , data-page=data.totalPages)
                                            span(aria-hidden='true') »
            include layouts/sidebar