extends layouts/default

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  #{__('contactPage.title')}
                            small #{__('contactPage.description')}
                    .form-container.contact-form-container
                        form#contactForm(role='form', data-toggle="validator")
                            .col-xs-12.col-md-6
                                .form-group
                                    input.form-control(type='text', placeholder=__('contactPage.form.name'), id='name', name='name', required='')
                                .form-group
                                    input.form-control(type='email', placeholder=__('contactPage.form.email'), id='email', name='email', required='')
                                .form-group
                                    input.form-control(type='text', placeholder=__('contactPage.form.subject'), id='subject', name='subject', required='')
                            .col-xs-12.col-md-6
                                .form-group
                                    textarea.form-control(rows='5', placeholder=__('contactPage.form.message'), id='message', name='message', required='')
                            .col-xs-12
                                .col-xs-12.col-md-4.col-md-offset-4
                                    .form-group
                                        button.btn.btn-default.g-recaptcha(type='submit', data-sitekey=sails.config.recaptchaSiteKey, data-callback='sendContactForm')
                                            | #{__('contactPage.sendButton')}
                                .col-xs-12.col-md-4.text-right
                                    img(src='images/site/recaptcha.png', alt='Protected by reCaptcha', width='75px', height='22px')
                        .alert.alert-success(style='display:none;')
                            | #{__('contactPage.successMessage')}
                        .alert.alert-danger(style='display:none;')
                            | #{__('contactPage.errorMessage')}