extends layouts/default

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12
                .content-container
                    .page-header.section-title
                        h1
                            span.fulltape.fulltape-icon
                            |  #{__('loginPage.title')}
                    .col-sm-8.col-sm-offset-2.form-container.authentification-form-container
                        form(role='form' id='login-form' data-toggle="validator")
                            .form-group
                                label.sr-only(for='email') #{__('loginPage.form.email')}
                                .input-group
                                    .input-group-addon
                                        i.fa.fa-envelope(aria-hidden='true')
                                    input#email.form-control(type='email', name='email', placeholder=__('loginPage.form.email'), autofocus, required)
                                .help-block.with-errors
                            .form-group
                                label.sr-only(for='password') #{__('loginPage.form.password')}
                                .input-group
                                    .input-group-addon
                                        i.fa.fa-key(aria-hidden='true')
                                    input#password.form-control(type='password', name='password', placeholder=__('loginPage.form.password'), required)
                            .col-xs-12
                                .col-xs-12.col-md-4.col-md-offset-4
                                    .form-group.text-center
                                        button#loginButton.btn.btn-default.g-recaptcha(type='submit', data-sitekey=sails.config.recaptchaSiteKey, data-callback='loggingUser')
                                            | #{__('loginPage.form.login')}
                                .col-xs-12.col-md-4.text-right
                                    img(src='images/site/recaptcha.png', alt='Protected by reCaptcha', width='75px', height='22px')
                        #login-form-success.form-response
                            h5 #{__('loginPage.form.successMessage')}
                        #login-form-failed.form-response
                            h5 #{__('loginPage.form.failedMessage')}