extends layouts/default
include layouts/mixtapeCard

block content
    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12.col-sm-10
                .container.content-container
                    .row
                        .page-header.section-title
                            h1
                                span.fulltape.fulltape-icon
                                |  #{__("mixtapesPage.title")}
                                small #{__("mixtapesPage.titleDescription")}
                    .row
                        .col-xs-12.col-md-5
                            each filterValues, field in filters.labels
                                .col-xs-12
                                    ul.list-inline.list-filters
                                        li
                                            span.label.filter.default-filter(data-filter=field, data-filter-value='', data-filter-currentValue=data.filters[field], class=(_.isEmpty(data.filters[field]) ? 'active' : null)) #{__("mixtapesPage.filters.allMixtapes")}
                                        each filterValue in filterValues
                                            li
                                                span.label.filter(data-filter=field, data-filter-value=filterValue.query, class=(data.filters[field] == filterValue.query ? 'active' : null)) #{__("mixtapesPage.filters."+filterValue.label)}
                        .col-xs-12.col-md-7
                            ul.list-inline.list-sort-dropdowns
                                li
                                    .btn-group
                                        button.btn.btn-default.btn-xs(type='button') #{__("dropdown.order."+sortBy.active.label)}
                                        button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            span.caret
                                            span.sr-only Toggle Dropdown
                                        ul.dropdown-menu
                                            each sortFilter in sortBy.sortFilters
                                                li
                                                    span.sort-filter(data-attribute='sort', data-sort=sortFilter.query) #{__("dropdown.order."+sortFilter.label)}
                                li
                                    .btn-group
                                        button.btn.btn-default.btn-xs(type='button') #{__("dropdown.releaseDate."+filters.dateFilter.releaseDateActive.label)}
                                        button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            span.caret
                                            span.sr-only Toggle Dropdown
                                        ul.dropdown-menu
                                            each dateFilter in filters.dateFilter.releaseDate
                                                li
                                                    span.sort-filter(data-attribute='releaseDate', data-sort=dateFilter.query) #{__("dropdown.releaseDate."+dateFilter.label)}
                    .row
                        .jumbotron
                            .row.card-list-container
                                each mixtape in data.results
                                    .col-sm-2.col-xs-4
                                        +mixtapeCard(mixtape)
                            nav.text-center(aria-label='Page navigation')
                                ul.pagination
                                    li(class=(data.previous === false ? 'disabled' : null))
                                        a(aria-label='Previous', data-page=parseInt(data.currentPage) - 1)
                                            span(aria-hidden='true') «
                                    - var i = 1
                                    while i < data.totalPages + 1
                                        li(class=(parseInt(data.currentPage) === i ? 'active' : null))
                                            a(data-page=i) #{i}
                                        - i++;
                                    li(class=(data.next === false ? 'disabled' : null))
                                        a(aria-label='Next', , data-page=data.totalPages)
                                            span(aria-hidden='true') »
            include layouts/sidebar