extends layouts/default

block content
    #fb-root
    script.
        var mixtapeSlug = '#{mixtape.slug}';
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/#{req.languages[req.getLocale()].localeCode}/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    .container-fluid.main-container
        .col-lg-8.col-lg-offset-2.content
            .col-xs-12.col-sm-10
                .content-container
                    .mixtape-infos
                        .mixtape-infos-background(style="background: url('" + mixtape.coverUrl + "') 100px;background-size: 100px;")
                        .col-sm-3.mixtape-cover-container
                            img(src=mixtape.coverUrl)
                        .col-sm-9.mixtape-infos-container
                            h3.mixtape-title #{mixtape.title}
                            p
                                each artist in mixtape.artists
                                    a(href='/artist/' + artist.slug)
                                        span.avatar
                                            img(src=artist.pictureUrl)
                                            | #{artist.name}
                                each musicGroup in mixtape.musicGroups
                                    a(href='/music-group/' + musicGroup.slug)
                                        span.avatar
                                            img(src=musicGroup.pictureUrl)
                                            | #{musicGroup.name}
                                each beatmaker in mixtape.beatmakers
                                    a(href='/beatmaker/' + beatmaker.slug)
                                        span.avatar
                                            img(src=beatmaker.pictureUrl)
                                            | #{beatmaker.name}
                            .col-sm-4.col-md-3.infos-column
                                p
                                    if mixtape.featuringArtists.length > 0
                                        a.featuring-artists-popover(tabindex='0', data-html='true', data-toggle='popover', data-trigger='focus', data-placement='bottom', title=__('mixtapePage.mixtapeInfos.featuringArtists'), data-content=featuringArtistsPopover)
                                            i.fa.fa-microphone(aria-hidden='true')
                                            |  #{__('mixtapePage.mixtapeInfos.featuringArtists')}
                                    else
                                        span.featuring-artists-popover.disabled
                                            i.fa.fa-microphone(aria-hidden='true')
                                            | #{__('mixtapePage.mixtapeInfos.featuringArtists')}
                                p
                                    i.fa.fa-star(aria-hidden='true')
                                    span.mixtape-rate #{mixtape.rate}
                                    | /5 #{__('mixtapePage.mixtapeInfos.stars')}
                                p
                                    i.fa.fa-music(aria-hidden='true')
                                    |  Rap/Trap
                            .col-sm-4.col-md-3.mixtape-infos-column
                                p
                                    i.fa.fa-cloud-download(aria-hidden='true')
                                    |  #{mixtape.downloadCount} #{__('mixtapePage.mixtapeInfos.downloads')}
                                p
                                    i.fa.fa-calendar(aria-hidden='true')
                                    |  #{moment(mixtape.releaseDate).format("LL")}
                                p
                                    i.fa.fa-upload(aria-hidden='true')
                                    |  #{mixtape.uploader.username}
                    .mixtape-toolbar
                        ul.list-inline
                            li
                                a.play-all-tracks(href='#')
                                    h5
                                        i.fa.fa-play(aria-hidden='true')
                                        span #{__('mixtapePage.toolbar.play')}
                            li
                                a.like-mixtape(class=[(req.isUnauthenticated() ? 'disabled' : null), (isLiked ? 'active' : null)], href='#', data-toggle=(req.isUnauthenticated() ? 'tooltip' : null), title=(req.isUnauthenticated() ? __('mixtapePage.toolbar.mustBeLoggedTooltip') : null))
                                    h5
                                        i.fa.fa-thumbs-up(aria-hidden='true')
                                        span #{__('mixtapePage.toolbar.like')}
                            li
                                a.dislike-mixtape(class=[(req.isUnauthenticated() ? 'disabled' : null), (isDisliked ? 'active' : null)], href='#', data-toggle=(req.isUnauthenticated() ? 'tooltip' : null), title=(req.isUnauthenticated() ? __('mixtapePage.toolbar.mustBeLoggedTooltip') : null))
                                    h5
                                        i.fa.fa-thumbs-down(aria-hidden='true')
                                        span #{__('mixtapePage.toolbar.dislike')}
                            li
                                a.bookmark-mixtape(class=[(req.isUnauthenticated() ? 'disabled' : null), (isBookmarked ? 'active' : null)], href='#', data-toggle=(req.isUnauthenticated() ? 'tooltip' : null), title=(req.isUnauthenticated() ? __('mixtapePage.toolbar.mustBeLoggedTooltip') : null))
                                    h5
                                        i.fa.fa-heart(aria-hidden='true')
                                        span #{__('mixtapePage.toolbar.favorite')}
                            li
                                a(href=(mixtape.isFileAvailable === true ? '/mixtape/' + mixtape.slug + '/download' : '#'), class=(mixtape.isFileAvailable === false ? 'disabled' : null), data-toggle=(mixtape.isFileAvailable === false ? 'tooltip' : null), title=(mixtape.isFileAvailable === false ? __('mixtapePage.toolbar.archiveNotAvailableTooltip') : null), rel='nofollow')
                                    h5
                                        i.fa.fa-arrow-down(aria-hidden='true')
                                        span #{__('mixtapePage.toolbar.download')}
                    .jumbotron
                        ul.list-inline.share-list.text-right
                            li
                                a(href='https://www.facebook.com/sharer/sharer.php?u='+currentUrl, target="_blank", title=__('mixtapePage.shareIcons.facebook'))
                                    i.fa.fa-facebook(aria-hidden='true')
                            li
                                a(href='https://plus.google.com/share?url='+currentUrl, target="_blank", title=__('mixtapePage.shareIcons.googlePlus'))
                                    i.fa.fa-google-plus(aria-hidden='true')
                            li
                                a(href='https://twitter.com/intent/tweet?url='+currentUrl, target="_blank", title=__('mixtapePage.shareIcons.twitter'))
                                    i.fa.fa-twitter(aria-hidden='true')
                        .section-title
                            h1
                                span.fulltape.fulltape-icon
                                |  #{__('mixtapePage.tracklist.title')}
                        ul.list-group.mixtape-tracklist
                            each track in mixtape.tracks
                                li.list-group-item.mixtape-track(data-slug=track.slug)
                                    .col-xs-1.track-number #{track.number}.
                                    .col-xs-5.col-sm-7.track-title
                                        i.fa.fa-play(aria-hidden='true')
                                        i.fa.fa-volume-up(aria-hidden='true')
                                        i.fa.fa-pause(aria-hidden='true')
                                        i.fa.fa-refresh.fa-spin.fa-3x.fa-fw(aria-hidden='true')
                                        | #{track.description}
                                    .col-xs-6.col-sm-4.track-controls-container
                                        .col-xs-10.track-play-controls
                                            .col-xs-6.progress-bar-container
                                                .progress.track-progress-bar
                                                    .progress-bar(role='progressbar')
                                            .col-xs-6.track-volume-container
                                        .col-xs-2
                                            a.download-track(href='/track/' + track.slug + '/download', rel='nofollow')
                                                i.fa.fa-arrow-down(aria-hidden='true')
                    .fb-comments(data-href=currentUrl, data-numposts='5')
            include layouts/sidebar