body {
  width: 100%;
  height: 100%;
  font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid fade(white, 30%);
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: fade(black, 50%);

  .navbar-toggle {
    color: white;
    border: solid 1px fade(white, 70%);
    font-size: 14px;
    width: 45px;

    &:focus, &:active {
      outline: none;
    }
  }

  .navbar-brand {
    font-weight: 700;

    &:focus {
      outline: none;
    }

    img {
      height: 30px;
      width: 177px;
    }
  }

  a {
    color: white;
  }

  .nav {
    li {
      a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;

        &:hover {
          color: fade(white, 80%);
          outline: none;
          background-color: transparent;
        }

        &:focus, &:active {
          outline: none;
          background-color: transparent;
        }
      }

      &.active {
        outline: none;

        a {
          background-color: fade(white, 30%);

          &:hover {
            color: white;
          }
        }
      }
    }
  }
  @media(min-width:768px) {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;

    &.top-nav-collapse {
      padding: 0;
      background: black;
      border-bottom: 1px solid fade(white, 30%);
    }
  }
}

.intro {
  width: 100%;
  min-height: 100%;
  padding: 100px 0 0;
  text-align: center;
  color: white;
  background: url("../images/site/coming-soon_bg.png") no-repeat left;

  .intro-body {
    .brand-logo {
      margin-bottom: 50px;
      max-width: 60%;
    }

    .brand-heading {
      margin: 0;
      text-shadow: 2px 2px 4px #000;
      text-transform: uppercase;
      font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 1.3em;
      font-weight: 700;
      letter-spacing: 1px;

      .slogan {
        font-size: 1.5em;
      }
    }
  }
}