doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title #{__('mails.emailConfirmation.subject')} - Lokal Plug
        style(type='text/css').
            body {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                margin: 0 !important;
                width: 100% !important;
                -webkit-text-size-adjust: 100% !important;
                -ms-text-size-adjust: 100% !important;
                -webkit-font-smoothing: antialiased !important;
            }

            a {
                color: #736866;
            }

            p, h1 {
                color: #382F2E;
                margin: 0;
            }

            p {
                text-align: left;
                color: #999999;
                font-size: 14px;
                font-weight: normal;
                line-height: 19px;
            }

            a.link1 {
                color: #382F2E;
            }

            a.link2 {
                font-size: 16px;
                text-decoration: none;
                color: #ffffff;
            }

            h2 {
                text-align: left;
                color: #222222;
                font-size: 19px;
                font-weight: normal;
            }

            div, p, ul, h1 {
                margin: 0;
            }

            .bgBody {
                background: #ffffff;
            }

            .bgItem {
                background: #ffffff;
            }

            @media only screen and (max-width: 480px) {
                table[class="MainContainer"], td[class="cell"] {
                    width: 100% !important;
                    height: auto !important;
                }

                td[class="specbundle"] {
                    width: 100% !important;
                    float: left !important;
                    font-size: 13px !important;
                    line-height: 17px !important;
                    display: block !important;
                    padding-bottom: 15px !important;
                }

                td[class="spechide"] {
                    display: none !important;
                }

                img[class="banner"] {
                    width: 100% !important;
                    height: auto !important;
                }

                td[class="left_pad"] {
                    padding-left: 15px !important;
                    padding-right: 15px !important;
                }
            }

            @media only screen and (max-width: 540px) {
                table[class="MainContainer"], td[class="cell"] {
                    width: 100% !important;
                    height: auto !important;
                }

                td[class="specbundle"] {
                    width: 100% !important;
                    float: left !important;
                    font-size: 13px !important;
                    line-height: 17px !important;
                    display: block !important;
                    padding-bottom: 15px !important;
                }

                td[class="spechide"] {
                    display: none !important;
                }

                img[class="banner"] {
                    width: 100% !important;
                    height: auto !important;
                }

                .font {
                    font-size: 18px !important;
                    line-height: 22px !important;
                }

                .font1 {
                    font-size: 18px !important;
                    line-height: 22px !important;
                }
            }
        script.swatch.active(type='colorScheme').
            {
            "name":"Default",
            "bgBody":"ffffff",
            "link":"382F2E",
            "color":"999999",
            "bgItem":"ffffff",
            "title":"222222"
            }
    body(paddingwidth='0', paddingheight='0', style='padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;', offset='0', toppadding='0', leftpadding='0')
        table.tableContent(bgcolor='#dadada', width='100%', border='0', cellspacing='0', cellpadding='0', align='center', style='font-family:Helvetica, Arial,serif;')
            tbody
                tr
                    td
                        table.MainContainer(width='600', border='0', cellspacing='0', cellpadding='0', align='center', bgcolor='#ffffff')
                            tbody
                                tr
                                    td
                                        table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                            tbody
                                                tr
                                                    td(valign='top', width='40')  
                                                    td
                                                        table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                                            tbody
                                                                // =============================== Header ======================================
                                                                tr
                                                                    td.spechide(height='75')
                                                                    // =============================== Body ======================================
                                                                tr
                                                                    td.movableContentContainer(valign='top')
                                                                        .movableContent(style='border: 0px; padding-top: 0px; position: relative;')
                                                                            table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                                                                tbody
                                                                                    tr
                                                                                        td(height='35')
                                                                                    tr
                                                                                        td
                                                                                            table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                                                                                tbody
                                                                                                    tr
                                                                                                        td.specbundle(valign='top')
                                                                                                            .contentEditableContainer.contentTextEditable
                                                                                                                .contentEditable
                                                                                                                    p(style='text-align:center;margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:26px;color:#777777;')
                                                                                                                        img(src='https://lokalplug.com/images/site/logo-mail.png', width='200px', height='111px', alt='Lokal Plug')
                                                                        .movableContent(style='border: 0px; padding-top: 0px; position: relative;')
                                                                            table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center')
                                                                                tr
                                                                                    td(height='55')
                                                                                tr
                                                                                    td(align='left')
                                                                                        .contentEditableContainer.contentTextEditable
                                                                                            .contentEditable(align='center')
                                                                                                h2 #{accountUsername}#{__('mails.emailConfirmation.title')}
                                                                                tr
                                                                                    td(height='15')
                                                                                tr
                                                                                    td(align='left')
                                                                                        .contentEditableContainer.contentTextEditable
                                                                                            .contentEditable(align='center')
                                                                                                p #{__('mails.emailConfirmation.body')}
                                                                                tr
                                                                                    td(height='55')
                                                                                tr
                                                                                    td(align='center')
                                                                                        table
                                                                                            tr
                                                                                                td(align='center', bgcolor='#1A54BA', style='background:#C0202F; padding:15px 18px;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;')
                                                                                                    .contentEditableContainer.contentTextEditable
                                                                                                        .contentEditable(align='center')
                                                                                                            a.link2(target='_blank', href=confirmationUrl, style='color:#ffffff;') #{__('mails.emailConfirmation.confirmLink')}
                                                                                            tr
                                                                                                td
                                                                                                    a(target='_blank', href=confirmationUrl, style='color:#828282;font-size: 11px;') #{confirmationUrl}
                                                                                tr
                                                                                    td(height='20')
                                                                        .movableContent(style='border: 0px; padding-top: 0px; position: relative;')
                                                                            table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                                                                tbody
                                                                                    tr
                                                                                        td(height='65')
                                                                                    tr
                                                                                        td(style='border-bottom:1px solid #DDDDDD;')
                                                                                    tr
                                                                                        td(height='25')
                                                                                    tr
                                                                                        td
                                                                                            table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                                                                                tbody
                                                                                                    tr
                                                                                                        td.specbundle(valign='top')
                                                                                                            .contentEditableContainer.contentTextEditable
                                                                                                                .contentEditable(align='center')
                                                                                                                    p(style='text-align:left;color:#828282;font-size:12px;font-weight:normal;line-height:20px;')
                                                                                                                        a(href='https://lokalplug.com', style='font-weight:bold;text-decoration:none;color:#828282;') LokalPlug.com
                                                                                                                        br
                                                                                                                        | #{__('mails.contact')}
                                                                                                                        a(href='mailto:support@lokalplug.com') support@lokalplug.com
                                                                                    tr
                                                                                        td(height='88')
                                                                        // =============================== footer ======================================
                                                    td(valign='top', width='40')  
